.post {
    border: 10px solid #FFC846;
    border-style: inset;
    padding: 15px;
}

.comment {
    border: 10px solid #FFAA28;
    border-style: outset;
    padding: 15px;
}

.btn btn-default {
    border: 10px solid #FFAA28;
    border-style: outset;
    padding: 15px;
}